local.file_match "bot_instances" {
    path_targets = [
        {
            "__address__" = "localhost",
            "__path__"    = "/var/log/telegram-forwarder-bot/*/logs/*.jsonl",
            "job"         = "tg-bot",
        },
    ]
}

loki.source.file "bot_scraper" {
    targets    = local.file_match.bot_instances.targets
    forward_to = [loki.relabel.instance.receiver]
}

loki.relabel "instance" {
    forward_to = [loki.process.extract_json.receiver]

    rule {
        source_labels = ["filename"]
        regex         = "^/var/log/telegram-forwarder-bot/([^/]+)/logs/.*\\.jsonl"
        target_label  = "instance"
    }
}

loki.process "extract_json" {
    stage.json {
        expressions = {
            level  = "record.level.name",
            source = "record.extra.source",
        }
    }
    stage.labels {
        values = { "level" = "level", "source" = "source" }
    }
    forward_to = [loki.write.local_loki.receiver]
}

loki.write "local_loki" {
    endpoint {
        url = "http://loki:3100/loki/api/v1/push"
    }
}
